<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_topic_post_comment_path(@topic, @post, @comment) if can?(:edit, @comment)&.present? %> |
<%= link_to 'Back', topic_post_comments_path(@topic,@post) %>
